body {
    margin: 0;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

button {
    font-size: calc(10px + 2vmin);
}

/************************************************************************/
/* SETTINGS
/************************************************************************/
body {
    background-color: #dee1e4;
    font-family: sans-serif, Arial;
    line-height: 1.4;
    letter-spacing: 0.2px;
}
:focus {
    outline: 0;
}
a {
    color: unset;
    text-decoration: none;
}

@font-face {
    font-family: "pm";
    src: local("fonts"),
    url("./fonts/PermanentMarker-Regular.ttf") format("truetype");
    font-weight: normal;
}

/************************************************************************/
/* UTILITIES
/************************************************************************/
.cb-content {
    max-width: 600px;
    margin: auto;
    padding: 16px;
}

.cb-row {
    margin-bottom: 40px;
}
.cb-ingredient-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: stretch;
    justify-items: stretch;
    gap: 8px;
}
@media screen and (max-width: 576px) {
    .cb-ingredient-grid {
        grid-template-columns: 1fr;
    }
}

.cb-copy {
    color: #363d43;
    text-decoration: none;
}
.cb-copy--muted {
    color: #5d6974;
}
.cb-copy--white {
    color: #f7f8fa;
}
.cb-copy--bold {
    font-weight: bold;
}

/************************************************************************/
/* COMPONENTS
/************************************************************************/

/* HEADER */
.cb-header {
    background-color: #034d86;
    color: #fff;
    padding: 24px;
}
.cb-navlink {
    padding: 8px 16px;
    margin: 16px;
    border-radius: 100px;
    box-sizing: border-box;
    cursor: pointer;
}
.cb-navlink--active {
    border: 1px solid #f90;
    font-weight: bold;
    color: #f90;
}

/* SEARCHBAR */
.cb-searchbar {
    position: relative;
}
.cb-searchbar__input {
    height: 64px;
    border: 0;
    color: #23282c;
    width: 100%;
    background: #fff;
    padding: 0 16px;
    border-radius: 8px;
    appearance: none;
    transition: all 0.4s cubic-bezier(0, 0, 0.43, 1.49);
    transition-property: width, border-radius;
    z-index: 1;
    position: relative;
    font-size: 16px;
}
.cb-searchbar__input:not(:placeholder-shown) {
    border-radius: 8px 0 0 8px;
    width: calc(100% - 64px);
}

/* BUTTON *** *** *** *** *** *** *** *** *** */
.cb-searchbar__button {
    height: 64px;
    border: 0;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    width: 64px;
    font-weight: bold;
    background: #0477d2;
    border-radius: 0 8px 8px 0;
    display: block;
}

.cb-searchbar__label {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

/* DRINKCARD */
.cb-drink-card {
    border-radius: 8px;
    background-color: #f7f8fa;
    margin: 32px 0 96px;
    -webkit-box-shadow: 0px 3px 8px 0px rgba(55, 69, 77, 0.5);
    -moz-box-shadow: 0px 3px 8px 0px rgba(55, 69, 77, 0.5);
    box-shadow: 0px 3px 8px 0px rgba(55, 69, 77, 0.5);
    color: #23282c;
    overflow: hidden;
}
.cb-drink-card__header {
    width: 100%;
    background-color: #0477d2; /*#011B30;*/
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 32px;
    color: #f7f8fa;
}
.cb-drink-card__favourite-button {
    font-size: 32px;
}
.cb-drink-card__thumb-container {
    width: 25%;
    margin: auto;
    min-width: 64px;
    max-width: 240px;
    position: relative;
}
.cb-drink-card__thumb {
    width: 100%;
    padding-bottom: 100%;
    height: 0;
    background-size: contain;
    border-radius: 20%;
    border: 10px solid #f7f8fa;
    /* Deve essere uguale al border-width */
    margin-left: -10px;
    margin-top: -50%;
}
.cb-drink-card__text-container {
    padding: 0 16px;
}
.cb-drink-card__title {
    text-align: center;
}
.cb-drink-card__show-more {
    cursor: pointer;
    color: #0477d2;
}
.cb-drink-card__show-more:hover,
.cb-drink-card__show-more:focus {
    color: #034d86;
    text-decoration: none;
}
@media screen and (max-width: 768px) {
    .cb-drink-card__text-container {
        padding: 0 32px 16px;
    }
}

/* TAG */
.cb-tag {
    font-size: 12px;
    background-color: #cfe9fe;
    border: 1px solid;
    border-color: #034d86;
    color: #034d86;
    border-radius: 100px;
    margin: 0 8px 8px 0;
    padding: 4px 8px;
    white-space: nowrap;
    display: inline-block;
}
.cb-tag--selected {
    font-weight: bold;
}
.cb-tag--warning {
    background-color: #fff4cc;
    color: #b87d00;
    border-color: #e9a001;
}
.cb-tag--success {
    background-color: #ccfadd;
    color: #0a6a36;
    border-color: #0a6a36;
}
.cb-tag--disabled {
    background-color: #f7f8fa;
    color: #5d6974;
    border-color: #5d6974;
}
.cb-tag--underline {
    text-decoration: underline;
}

/* IngredintDetailed */
.cb-ingredient {
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding: 8px 16px;
    background-color: #cfe9fe;
    gap: 16px;
}
.cb-ingredient__image {
    width: 56px;
    padding: 8px;
    background-color: #f7f8fa;
    border-radius: 50%;
    display: block;
}

/* UserCard */
.cb-uc {
    display: flex;
    align-items: flex-start;
    border-radius: 8px;
    padding: 16px;
    background-color: #23282c;
    gap: 20px;
    margin-bottom: 16px;
    overflow: hidden;
    background-image: -webkit-linear-gradient(13deg, #0477d2 13%, #23282c 13%);
}
@media screen and (max-width: 768px){
    .cb-uc {

        background-image: -webkit-linear-gradient(320deg, #0477d2 23%, #23282c 23%);
    }
}
.cb-uc__text {
    flex-grow: 2;
    text-align: left;
}

.cb-uc__role {
    font-size: 13px;
    margin-bottom: 4px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #97a2ac;
}

.cb-uc__jp {
    margin: 8px 0 16px;
    color: #97a2ac;
    font-weight: lighter;
}

.cb-uc__image {
    width: 80px;
    background-color: #f7f8fa;
    border-radius: 50%;
    display: block;
}

.cb-uc__name {
    font-family: "pm";
    font-size: 32px;
    line-height: 1;
    color: #fff;
    opacity: 0.9;
}
.cb-uc__links {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
}

.cb-uc__link {
    color: #0e93fa;
    font-size: 13px;
}

.cb-uc__link:hover,
.cb-uc__link:focus {
    color: #9ad2fd;
}

.cb-uc__links:hover,
.cb-uc__links:focus {
    color: #9ad2fd;
}

.cb-uc__link-logo {
    font-size: 16px;
    padding-right: 8px;
}

/************************************************************************/
/* DESIGN SYSTEM
/************************************************************************/

/* REUSABLE CLASSES */
.cb-hide-i {
    display: none !important;
    opacity: 0;
    height: 0;
    width: 0;
}

.cb-ct--pointer {
    cursor: pointer;
}

@media screen and (max-width: 1280px) {
    .cb-hide-lg-down,
    .cb-hide-lg-down * {
        display: none;
    }
}
@media screen and (max-width: 992px) {
    .cb-hide-md-down,
    .cb-hide-md-down * {
        display: none;
    }
}
@media screen and (max-width: 576px) {
    .cb-hide-sm-down,
    .cb-hide-sm-down * {
        display: none;
    }
}

.cb-md-up-br:before {
    content: " ";
    display: block;
}
.cb-md-down-br:before {
    content: " ";
    display: inline;
}
@media screen and (max-width: 992px) {
    .cb-md-up-br:before {
        content: " ";
        display: inline;
    }
    .cb-md-down-br:before {
        content: " ";
        display: block;
    }
}
.cb-cta,
a.cb-cta,
a.cb-cta:visited,
a.cb-cta:hover,
a.cb-cta:focus,
a.cb-cta:active {
    color: #127fab;
    font-weight: bold;
}
.cb-btn-primary,
.cb-btn-alternate {
    border-radius: 2px;
}
.cb-btn-primary {
    border: 2px solid;
    padding: 8px 16px;
    text-align: center;
    font-weight: bold;
}
.cb-btn-blue {
    background-color: transparent;
    border-color: #127fab;
    color: #127fab;
}
.cb-btn-blue:hover {
    background-color: #127fab;
    color: #f7f8fa;
}
.cb-btn-green {
    background-color: #458314;
    border-color: #458314;
    color: #fff;
}
.cb-btn-green:hover {
    background-color: #458314;
    color: #fff;
}
.cb-btn-orange {
    background-color: transparent;
    border-color: #f28e24;
    color: #f28e24;
}
.cb-btn-orange:hover {
    background-color: #f28e24;
    color: #fff;
}
.cb-btn-red {
    background-color: transparent;
    border-color: #c74b36;
    color: #c74b36;
}
.cb-btn-red:hover {
    background-color: #c74b36;
    color: #fff;
}
.cb-btn-abandonEvent {
    background-color: transparent;
    border-color: #458314;
    color: #458314;
}
.cb-btn-abandonEvent::before {
    content: "You are in";
}
.cb-btn-abandonEvent:hover {
    background-color: #c74b36;
    border-color: #c74b36;
    color: #fff;
}
.cb-btn-abandonEvent:hover::before {
    content: "Cancel";
}
.cb-btn-alternate {
    background-color: transparent;
    border-color: #0063ed;
    color: #0063ed;
}
.cb-btn-extended {
    width: 100%;
    display: block;
    box-sizing: border-box;
}
.cb-btn-extended60 {
    min-width: 60%;
    margin: auto;
}

/* COLORS */
.cb-bg-blue {
    background-color: #0063ed;
}
.cb-bs-blue {
    border-style: solid;
    border-color: #0063ed;
}
.cb-blue {
    color: #0063ed;
}
.cb-bg-black {
    background-color: #000;
}
.cb-black {
    color: #000;
}
.cb-bg-white {
    background-color: #fff;
}
.cb-white {
    color: #fff;
}
.cb-bg-lightgray {
    background-color: #ebeced;
}
.cb-lightgray {
    color: #ebeced;
}
.cb-bg-gray-4 {
    background-color: #444;
}
.cb-gray-4 {
    color: #444;
}
.cb-bg-gray-7 {
    background-color: #777;
}
.cb-gray-7 {
    color: #777;
}
.cb-gray {
    color: #909098;
}
.cb-b-gray {
    border-color: #909098;
}
.cb-bg-gray {
    background-color: #909098;
}
.cb-bg-green {
    background-color: #458314;
}
.cb-green {
    color: #458314;
}
/* FONT */
.cb-ff1 {
    font-family: "Open Sans", Source Sans Pro;
}
.cb-ff2 {
    font-family: "Montserrat", "Open Sans", Source Sans Pro, sans-serif, Helvetica,
    Arial;
}
.cb-lh-10,
.cb-lh-10 * {
    line-height: 1;
}
.cb-lh-11 {
    line-height: 1.1;
}
.cb-lh-12 {
    line-height: 1.2;
}
.cb-fs-8,
.cb-fs-r8 {
    font-size: 8px;
}
.cb-fs-10,
.cb-fs-r10 {
    font-size: 10px;
}
.cb-fs-12,
.cb-fs-r12 {
    font-size: 12px;
}
.cb-fs-16,
.cb-fs-r16 {
    font-size: 16px;
}
.cb-fs-20,
.cb-fs-r20 {
    font-size: 20px;
}
.cb-fs-24,
.cb-fs-r24 {
    font-size: 24px;
}
.cb-fs-32,
.cb-fs-r32 {
    font-size: 32px;
}
.cb-fs-40,
.cb-fs-r40 {
    font-size: 40px;
}
.cb-fs-48,
.cb-fs-r48 {
    font-size: 48px;
}
.cb-fs-56,
.cb-fs-r56 {
    font-size: 56px;
}
.cb-fs-64,
.cb-fs-r64 {
    font-size: 64px;
}
.cb-fs-72,
.cb-fs-r72 {
    font-size: 72px;
}
.cb-fs-80,
.cb-fs-r80 {
    font-size: 80px;
}
.cb-fs-88,
.cb-fs-r88 {
    font-size: 88px;
}
.cb-fs-96,
.cb-fs-r96 {
    font-size: 96px;
}
.cb-fs-104,
.cb-fs-r104 {
    font-size: 104px;
}
.cb-fs-112,
.cb-fs-r112 {
    font-size: 112px;
}
.cb-fs-120,
.cb-fs-r120 {
    font-size: 120px;
}
.cb-fs-128,
.cb-fs-r128 {
    font-size: 128px;
}
.cb-fs-136,
.cb-fs-r136 {
    font-size: 136px;
}
.cb-fs-144,
.cb-fs-r144 {
    font-size: 144px;
}

.cb-emph0 {
    font-weight: normal;
    text-transform: none;
    text-decoration: none;
}
.cb-emph1 {
    font-weight: bold;
    text-transform: uppercase;
}
.cb-emph-b {
    font-weight: bold;
}
.cb-emph-up {
    text-transform: uppercase;
}
.cb-emph-un {
    text-decoration: underline;
}

/* POSITIONS */

/* display / vertical alignment */
.cb-va-tt {
    vertical-align: text-top;
}
.cb-va-tb {
    vertical-align: text-bottom;
}

.cb-f-l {
    float: left;
}
.cb-f-n {
    float: none;
}
.cb-f-r {
    float: right;
}

/* text-align */
.cb-ta-l {
    text-align: left;
}
.cb-ta-r {
    text-align: right;
}
.cb-ta-c {
    text-align: center;
}
@media screen and (max-width: 576px) {
    .cb-ta-c-sm-down {
        text-align: center;
    }
}

/* padding */
.cb-p-0 {
    padding: 0px;
}
.cb-pv-0 {
    padding-top: 0px;
    padding-bottom: 0px;
}
.cb-ph-0 {
    padding-left: 0px;
    padding-right: 0px;
}
.cb-pt-0 {
    padding-top: 0px;
}
.cb-pb-0 {
    padding-bottom: 0px;
}
.cb-pl-0 {
    padding-left: 0px;
}
.cb-pr-0 {
    padding-right: 0px;
}

.cb-p-8 {
    padding: 8px;
}
.cb-pv-8 {
    padding-top: 8px;
    padding-bottom: 8px;
}
.cb-ph-8 {
    padding-left: 8px;
    padding-right: 8px;
}
.cb-pt-8 {
    padding-top: 8px;
}
.cb-pb-8 {
    padding-bottom: 8px;
}
.cb-pl-8 {
    padding-left: 8px;
}
.cb-pr-8 {
    padding-right: 8px;
}

.cb-p-16 {
    padding: 16px;
}
.cb-pv-16 {
    padding-top: 16px;
    padding-bottom: 16px;
}
.cb-ph-16 {
    padding-left: 16px;
    padding-right: 16px;
}
.cb-pt-16 {
    padding-top: 16px;
}
.cb-pb-16 {
    padding-bottom: 16px;
}
.cb-pl-16 {
    padding-left: 16px;
}
.cb-pr-16 {
    padding-right: 16px;
}

.cb-p-24 {
    padding: 24px;
}
.cb-pv-24 {
    padding-top: 24px;
    padding-bottom: 24px;
}
.cb-ph-24 {
    padding-left: 24px;
    padding-right: 24px;
}
.cb-pt-24 {
    padding-top: 24px;
}
.cb-pb-24 {
    padding-bottom: 24px;
}
.cb-pl-24 {
    padding-left: 24px;
}
.cb-pr-24 {
    padding-right: 24px;
}

.cb-p-32 {
    padding: 32px;
}
.cb-pv-32 {
    padding-top: 32px;
    padding-bottom: 32px;
}
.cb-ph-32 {
    padding-left: 32px;
    padding-right: 32px;
}
.cb-pt-32 {
    padding-top: 32px;
}
.cb-pb-32 {
    padding-bottom: 32px;
}
.cb-pl-32 {
    padding-left: 32px;
}
.cb-pr-32 {
    padding-right: 32px;
}

.cb-p-40 {
    padding: 40px;
}
.cb-pv-40 {
    padding-top: 40px;
    padding-bottom: 40px;
}
.cb-ph-40 {
    padding-left: 40px;
    padding-right: 40px;
}
.cb-pt-40 {
    padding-top: 40px;
}
.cb-pb-40 {
    padding-bottom: 40px;
}
.cb-pl-40 {
    padding-left: 40px;
}
.cb-pr-40 {
    padding-right: 40px;
}

.cb-p-48 {
    padding: 48px;
}
.cb-pv-48 {
    padding-top: 48px;
    padding-bottom: 48px;
}
.cb-ph-48 {
    padding-left: 48px;
    padding-right: 48px;
}
.cb-pt-48 {
    padding-top: 48px;
}
.cb-pb-48 {
    padding-bottom: 48px;
}
.cb-pl-48 {
    padding-left: 48px;
}
.cb-pr-48 {
    padding-right: 48px;
}

.cb-p-56 {
    padding: 56px;
}
.cb-pv-56 {
    padding-top: 56px;
    padding-bottom: 56px;
}
.cb-ph-56 {
    padding-left: 56px;
    padding-right: 56px;
}
.cb-pt-56 {
    padding-top: 56px;
}
.cb-pb-56 {
    padding-bottom: 56px;
}
.cb-pl-56 {
    padding-left: 56px;
}
.cb-pr-56 {
    padding-right: 56px;
}

.cb-p-64 {
    padding: 64px;
}
.cb-pv-64 {
    padding-top: 64px;
    padding-bottom: 64px;
}
.cb-ph-64 {
    padding-left: 64px;
    padding-right: 64px;
}
.cb-pt-64 {
    padding-top: 64px;
}
.cb-pb-64 {
    padding-bottom: 64px;
}
.cb-pl-64 {
    padding-left: 64px;
}
.cb-pr-64 {
    padding-right: 64px;
}

.cb-p-80 {
    padding: 80px;
}
.cb-pv-80 {
    padding-top: 80px;
    padding-bottom: 80px;
}
.cb-ph-80 {
    padding-left: 80px;
    padding-right: 80px;
}
.cb-pt-80 {
    padding-top: 80px;
}
.cb-pb-80 {
    padding-bottom: 80px;
}
.cb-pl-80 {
    padding-left: 80px;
}
.cb-pr-80 {
    padding-right: 80px;
}

.cb-p-96 {
    padding: 96px;
}
.cb-pv-96 {
    padding-top: 96px;
    padding-bottom: 96px;
}
.cb-ph-96 {
    padding-left: 96px;
    padding-right: 96px;
}
.cb-pt-96 {
    padding-top: 96px;
}
.cb-pb-96 {
    padding-bottom: 96px;
}
.cb-pl-96 {
    padding-left: 96px;
}
.cb-pr-96 {
    padding-right: 96px;
}

.cb-p-120 {
    padding: 120px;
}
.cb-pv-120 {
    padding-top: 120px;
    padding-bottom: 120px;
}
.cb-ph-120 {
    padding-left: 120px;
    padding-right: 120px;
}
.cb-pt-120 {
    padding-top: 120px;
}
.cb-pb-120 {
    padding-bottom: 120px;
}
.cb-pl-120 {
    padding-left: 120px;
}
.cb-pr-120 {
    padding-right: 120px;
}

.cb-p-144 {
    padding: 144px;
}
.cb-pv-144 {
    padding-top: 144px;
    padding-bottom: 144px;
}
.cb-ph-144 {
    padding-left: 144px;
    padding-right: 144px;
}
.cb-pt-144 {
    padding-top: 144px;
}
.cb-pb-144 {
    padding-bottom: 144px;
}
.cb-pl-144 {
    padding-left: 144px;
}
.cb-pr-144 {
    padding-right: 144px;
}

.cb-p-160 {
    padding: 160px;
}
.cb-pv-160 {
    padding-top: 160px;
    padding-bottom: 160px;
}
.cb-ph-160 {
    padding-left: 160px;
    padding-right: 160px;
}
.cb-pt-160 {
    padding-top: 160px;
}
.cb-pb-160 {
    padding-bottom: 160px;
}
.cb-pl-160 {
    padding-left: 160px;
}
.cb-pr-160 {
    padding-right: 160px;
}

/* margin */
.cb-m-0 {
    margin: 0px;
}
.cb-mv-0 {
    margin-top: 0px;
    margin-bottom: 0px;
}
.cb-mh-0 {
    margin-left: 0px;
    margin-right: 0px;
}
.cb-mb-0 {
    margin-bottom: 0px;
}
.cb-mt-0 {
    margin-top: 0px;
}
.cb-mr-0 {
    margin-right: 0px;
}
.cb-ml-0 {
    margin-left: 0px;
}
.cb-m-8 {
    margin: 8px;
}
.cb-mv-8 {
    margin-top: 8px;
    margin-bottom: 8px;
}
.cb-mh-8 {
    margin-left: 8px;
    margin-right: 8px;
}
.cb-mt-8 {
    margin-top: 8px;
}
.cb-mb-8 {
    margin-bottom: 8px;
}
.cb-ml-8 {
    margin-left: 8px;
}
.cb-mr-8 {
    margin-right: 8px;
}

.cb-m-16 {
    margin: 16px;
}
.cb-mv-16 {
    margin-top: 16px;
    margin-bottom: 16px;
}
.cb-mh-16 {
    margin-left: 16px;
    margin-right: 16px;
}
.cb-mt-16 {
    margin-top: 16px;
}
.cb-mb-16 {
    margin-bottom: 16px;
}
.cb-ml-16 {
    margin-left: 16px;
}
.cb-mr-16 {
    margin-right: 16px;
}

.cb-m-24 {
    margin: 24px;
}
.cb-mv-24 {
    margin-top: 24px;
    margin-bottom: 24px;
}
.cb-mh-24 {
    margin-left: 24px;
    margin-right: 24px;
}
.cb-mt-24 {
    margin-top: 24px;
}
.cb-mb-24 {
    margin-bottom: 24px;
}
.cb-ml-24 {
    margin-left: 24px;
}
.cb-mr-24 {
    margin-right: 24px;
}

.cb-m-32 {
    margin: 32px;
}
.cb-mv-32 {
    margin-top: 32px;
    margin-bottom: 32px;
}
.cb-mh-32 {
    margin-left: 32px;
    margin-right: 32px;
}
.cb-mt-32 {
    margin-top: 32px;
}
.cb-mb-32 {
    margin-bottom: 32px;
}
.cb-ml-32 {
    margin-left: 32px;
}
.cb-mr-32 {
    margin-right: 32px;
}

.cb-m-40 {
    margin: 40px;
}
.cb-mv-40 {
    margin-top: 40px;
    margin-bottom: 40px;
}
.cb-mh-40 {
    margin-left: 40px;
    margin-right: 40px;
}
.cb-mt-40 {
    margin-top: 40px;
}
.cb-mb-40 {
    margin-bottom: 40px;
}
.cb-ml-40 {
    margin-left: 40px;
}
.cb-mr-40 {
    margin-right: 40px;
}

.cb-m-48 {
    margin: 48px;
}
.cb-mv-48 {
    margin-top: 48px;
    margin-bottom: 48px;
}
.cb-mh-48 {
    margin-left: 48px;
    margin-right: 48px;
}
.cb-mt-48 {
    margin-top: 48px;
}
.cb-mb-48 {
    margin-bottom: 48px;
}
.cb-ml-48 {
    margin-left: 48px;
}
.cb-mr-48 {
    margin-right: 48px;
}

.cb-m-56 {
    margin: 56px;
}
.cb-mv-56 {
    margin-top: 56px;
    margin-bottom: 56px;
}
.cb-mh-56 {
    margin-left: 56px;
    margin-right: 56px;
}
.cb-mt-56 {
    margin-top: 56px;
}
.cb-mb-56 {
    margin-bottom: 56px;
}
.cb-ml-56 {
    margin-left: 56px;
}
.cb-mr-56 {
    margin-right: 56px;
}

.cb-m-64 {
    margin: 64px;
}
.cb-mv-64 {
    margin-top: 64px;
    margin-bottom: 64px;
}
.cb-mh-64 {
    margin-left: 64px;
    margin-right: 64px;
}
.cb-mt-64 {
    margin-top: 64px;
}
.cb-mb-64 {
    margin-bottom: 64px;
}
.cb-ml-64 {
    margin-left: 64px;
}
.cb-mr-64 {
    margin-right: 64px;
}

.cb-m-80 {
    margin: 80px;
}
.cb-mv-80 {
    margin-top: 80px;
    margin-bottom: 80px;
}
.cb-mh-80 {
    margin-left: 80px;
    margin-right: 80px;
}
.cb-mt-80 {
    margin-top: 80px;
}
.cb-mb-80 {
    margin-bottom: 80px;
}
.cb-ml-80 {
    margin-left: 80px;
}
.cb-mr-80 {
    margin-right: 80px;
}

.cb-m-96 {
    margin: 96px;
}
.cb-mv-96 {
    margin-top: 96px;
    margin-bottom: 96px;
}
.cb-mh-96 {
    margin-left: 96px;
    margin-right: 96px;
}
.cb-mt-96 {
    margin-top: 96px;
}
.cb-mb-96 {
    margin-bottom: 96px;
}
.cb-ml-96 {
    margin-left: 96px;
}
.cb-mr-96 {
    margin-right: 96px;
}

.cb-m-120 {
    margin: 120px;
}
.cb-mv-120 {
    margin-top: 120px;
    margin-bottom: 120px;
}
.cb-mh-120 {
    margin-left: 120px;
    margin-right: 120px;
}
.cb-mt-120 {
    margin-top: 120px;
}
.cb-mb-120 {
    margin-bottom: 120px;
}
.cb-ml-120 {
    margin-left: 120px;
}
.cb-mr-120 {
    margin-right: 120px;
}

.cb-m-144 {
    margin: 144px;
}
.cb-mv-144 {
    margin-top: 144px;
    margin-bottom: 144px;
}
.cb-mh-144 {
    margin-left: 144px;
    margin-right: 144px;
}
.cb-mt-144 {
    margin-top: 144px;
}
.cb-mb-144 {
    margin-bottom: 144px;
}
.cb-ml-144 {
    margin-left: 144px;
}
.cb-mr-144 {
    margin-right: 144px;
}

.cb-m-160 {
    margin: 160px;
}
.cb-mv-160 {
    margin-top: 160px;
    margin-bottom: 160px;
}
.cb-mh-160 {
    margin-left: 160px;
    margin-right: 160px;
}
.cb-mt-160 {
    margin-top: 160px;
}
.cb-mb-160 {
    margin-bottom: 160px;
}
.cb-ml-160 {
    margin-left: 160px;
}
.cb-mr-160 {
    margin-right: 160px;
}

/* border */
.cb-b-8 {
    border-width: 8px;
}

/* DESIGN SYSTEM END */
